@import './utils.css';

:root{
    --back: #a3c1ad;
    --primary: #2eb086;
    --dark: #313552;
    --light: #f0f0f0;
    --tertiary: #b8405e;
    --pure: #ffffff;
    --mix: #54bab9;
}

html{
    scroll-behavior: smooth;
}

*{
    font-family: 'poppins';
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.unique{
    color: var(--tertiary);
}

/* header section */

header{
    background-color: var(--back);
    clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
}

.container{
    width: 75vw;
    margin: auto;
}

.logo{
    flex: 1;
    margin-top: 0.3rem;
}
.links{
    flex: 0.6;
}

.links a{
  color: var(--light);
  text-decoration: none;
  margin-right: 2.3rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}

.links a:hover{
  font-size: 1.1rem;
  color: var(--tertiary);
}

/* about section  */
#about{
    background-color: var(--back);
}

.About{
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.left{
    flex: 1;
}

.left img{
  box-shadow: 3px 6px 23px -1px var(--dark);
  border-radius: 0.8rem;
  margin: 3rem 0;
  margin-bottom: 5rem;
}

.right{
    width: 50%;
    margin: 3rem 0;
    text-align: right;
    line-height: 1;
}

.right a{
    text-decoration: none;
    color: var(--pure);
    border: 1px solid var(--pure);
    border-radius: 2rem;
    padding: 0.5rem;
    box-shadow: 5px 5px 5px 0px var(--dark);
}

.right a:hover{
  color: var(--tertiary);
  border: 1px solid var(--tertiary);
    box-shadow: 10px 10px 10px 0px var(--dark);
}


/* project section */
#projects .container{
    line-height: 1;
}

#projects span{
    color: var(--tertiary);
    font-weight: 300;
}
.pro{
    margin-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;   /* this is used to give a grid like structure */
}

.card {
    min-width: 30%;
    max-width: 40%;
    background-color: var(--light);
    padding: 2rem;
    margin-top: 2rem;
    margin-right: 3.3%;
    border-width: 0px;
    border-style: solid;
    border-color: var(--dark);
    box-shadow: 23px 12px 14px -14px var(--dark);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }

  .card a{
      text-decoration: none;
      color: var(--tertiary);
      border: 0.01rem solid var(--tertiary);
      border-radius: 0.3rem;
      padding: 0.3rem;
  }

  .card h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .card:hover {
    background-color: var(--dark);
    color: var(--light);
    box-shadow: 17px 27px 36px 0px var(--dark);
  }

  /* footer  */
footer{
    background-color: var(--back);
    /* color: var(--pure); */
    clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
 }
 
 footer .container{
   padding: 3rem;
 }
 
 form{
   margin-left: 10%;
   margin-top: 5%;
 }
 
 label{
   margin: 0.5rem;
 }
 input{
   margin: 0.5rem;
   padding: 0.3rem;
   border-style: none;
   background-color: var(--back);
   font-size: 1rem;
   border-bottom: 1px solid var(--light);
 }
 
 input:focus{
   color: var(--pure);
 }
 input:hover{
   border-color: green;
   border-width: 2px;
 }
 
 textarea{
   margin: 0.5rem;
   padding: 0.3rem;
   border-style: none;
   background-color: var(--back);
   font-size: 1rem;
   border-bottom: 1px solid var(--light);
 }
 
 textarea:focus{
   color: var(--pure);
 }
 textarea:hover{
   border-color: green;
   border-width: 2px;
 }

 .btn{
     color: var(--tertiary);
     border: 1px solid var(--tertiary);
     background-color: var(--back);
     border-radius: 0.4rem;
     box-shadow: 5px 5px 5px 0px var(--dark);
 }
 
 .btn:hover{
   margin: 0.5rem;
   padding: 0.3rem;
   box-shadow: 10px 10px 10px 0px var(--dark);
 }
 
  